<div class="py-4">
    <h2>Agrega canciones a tu playlist</h2>
    <hr class="w-50" />
  
    <form>
        <div class="form-group row w-50 m-auto">
            <div class="form-group col-12 col-sm-6">
                <label>Titulo</label>
                <input value="Gitana (Remix)" name="titulo" class="form-control m-auto" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Álbum</label>
                <input value="Vasos vacíos" name="album" class="form-control m-auto" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Artista</label>
                <input value="Los fabulosos cadillacs" name="artista" class="form-control m-auto" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Comentario</label>
                <input type="text-area" value="Bailar mucho!" name="comentario" class="form-control m-auto" />
            </div>
            <div class="form-group col-12">
                <label>Enlace</label>
                <input value="https://open.spotify.com/track/4yxjD1iYOICm8cizKrbtPg?si=dae6e1d3dd8f4683" name="enlace" class="form-control m-auto" />
            </div>
        </div>
            <button type="submit" class="mb-1 btn btn-primary" id="agregarCancion">Agregar Canción</button>
    </form>
            <button class="m-auto btn btn-warning" id="aplicarCambios" style="display:none;">Aplicar Cambios</button>
    <hr>
    <div id="ListaCanciones">
        <h2>Tu Playlist</h2>
        <div class="container pt-5 w-75">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Album</th>
                        <th scope="col">Artista</th>
                        <th scope="col">Comentario</th>
                        <th scope="col"> </th>
                        <th scope="col"> </th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                {{#each cancionesPlaylist}}
                <tr>
                    <td class="tituloCancionIngresada">{{this.titulo}}</td>
                    <td class="albumCancionIngresada">{{this.album}}</td>
                    <td class="artistaCancionIngresada">{{this.artista}}</td>
                    <td class="comentarioCancionIngresada">{{this.comentario}}</td>
                    <td class="enlaceCancionIngresada"><a href="{{this.enlace}}, this" target="_blank"><button class="btn btn-success">Reproducir</button></a></td>
                    <td class="editarCancionIngresada"><button class="btn btn-warning" onclick="editarCancion({{this.id_cancion}})">Editar</button></td>
                    <td class="eliminarCancionIngresada"><button class="btn btn-danger" onclick="eliminarCancion({{this.id_cancion}})">Eliminar</button></td>
                </tr>
                {{/each}}
                </tbody>
            </table>
            <hr>
            {{!-- boton para vaciar playlist activando funcion vaciarPlaylist(id_playlist) --}}
            <button class="btn btn-danger" onclick="vaciarPlaylist(id_playlist)">Vaciar Playlist</button>
        </div>
    </div>
 </div>
<script>

    //verificar token
    const token = localStorage.getItem('token');
    if (!token) {
        alert("Debes iniciar sesión para agregar canciones");
        window.location.replace("/ingreso");
    }

    //delcarar id playlist
    var id_playlist = JSON.parse(localStorage.getItem('datos playlist')).id_playlist;
    console.log(`la playlist es: ${id_playlist}`);

    // agregar canciones a la playlist
    const form = document.querySelector("form");
    document.querySelector("form").addEventListener("submit", async (e) => {
    e.preventDefault();
    try{
        const response = await axios.post('/canciones', {
            token,
            titulo: document.querySelector("input[name='titulo']").value,
            album: document.querySelector("input[name='album']").value,
            artista: document.querySelector("input[name='artista']").value,
            comentario: document.querySelector("input[name='comentario']").value,
            enlace: document.querySelector("input[name='enlace']").value
        });
        console.log(response.data);
        alert("Cancion agregada");
        //actualizare la pagina
        window.location.reload();
    }
    catch(e) {
        console.log(e.response.data)
        alert(e.response.data)
    }
    });

    //reproducir cancion redirigiendo a enlace de cancion
    const reproducirCancion = async (enlace) => {
        window.location.replace(enlace);
    };

    //editar canciones de la playlist
    const editarCancion = async (id_cancion) => {
        document.querySelector("h2").innerHTML = "Editar Canción";
        document.querySelector("h2").style.color = "yellow";
        document.querySelector("input[name='titulo']").value = "Cambio";
        document.querySelector("input[name='album']").value = "Cambio";
        document.querySelector("input[name='artista']").value = "Cambio";
        document.querySelector("input[name='comentario']").value = "Cambio";
        document.querySelector("input[name='enlace']").value = "Cambio";
        document.getElementById("agregarCancion").style.display = "none";
        document.getElementById("aplicarCambios").setAttribute("onclick", `aplicarCambios(${id_cancion})`);
        document.getElementById("aplicarCambios").style.display = "block";
    }

    //aplicar cambios a la cancion
    const aplicarCambios = async (id_cancion) => {
        try{
            const response = await axios.put(`/canciones/${id_cancion}`, {
                titulo: document.querySelector("input[name='titulo']").value,
                album: document.querySelector("input[name='album']").value,
                artista: document.querySelector("input[name='artista']").value,
                comentario: document.querySelector("input[name='comentario']").value,
                enlace: document.querySelector("input[name='enlace']").value
            });
            console.log(`nuevos valores: ${response.data}`);
            alert("Cancion editada");
            
            //actualizar tabla
            window.location.reload();
        }
        catch(e) {
            console.log(e.response.data)
            alert(e.response.data)
        }
    }

  //eliminar canciones de la playlist
    const eliminarCancion = async (id_cancion) => {
        try{
            const response = await axios.delete(`/canciones/${id_cancion}`);
            console.log(response.data);
            alert("Cancion eliminada");
            //actualizar tabla
            window.location.reload();
        }
        catch(e) {
            console.log(e.response.data)
            alert(e.response.data)
        }
    }

    //vaciar playlist
    const vaciarPlaylist = async (id_playlist) => {
        id_playlist = JSON.parse(localStorage.getItem('datos playlist')).id_playlist;
        try{
            const response = await axios.delete(`/playlists/${id_playlist}`);
            console.log(response.data);
            alert("Playlist vaciada");
            //actualizare la pagina
            window.location.reload();
        }
        catch(e) {
            console.log(e.response.data)
            alert(e.response.data)
        }
    }

</script>